
*.env.*
*.js.backup
.claude/settings.json
.claude/settings.local.json
.env
.phpunit.result.cache
/.commandcode
/.phpunit.cache
/build/coverage-html
/old
/test1
/vendor
/x
openapi/deepwiki.md
openapi/script_docs.md
openapi/x.json
openapi_o.json
src/api/proxy.php
src/app/request_countall.php
src/app/subs/missing_exists_backup_.php_x
src/load_env.php
t.php
TD_API.zip
test/script copy.js
tests_output.txt
